<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content>
      <img src="{{ menus.foto }}" alt="">
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h1>{{ menus.nm_menu }}</h1>
      <h6>{{ menus.kategori }}</h6>
      <h3>{{ menus.harga }}</h3>
      <p>{{ menus.ket }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>