<ion-content>
  <div id="login">
      <div class="logo">
          <img src="assets/images/logo.png" alt="">
      </div>
      <div class="form">
          <ion-item lines="none">
              <ion-input [(ngModel)]="login.email" type="text" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item lines="none">
              <ion-input [(ngModel)]="login.password" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <ion-button (click)="goLogin()" expand="block" shape="round" color="warning">
              Sign In
          </ion-button>
          <p>- OR -</p>
          <ion-button (click)="Registrasi()" expand="block" shape="round" color="medium">
              Sign Up
          </ion-button>
      </div>
  </div>
</ion-content>