<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      MENU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Searchbar -->
  <ion-searchbar placeholder="Filter Pizza" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)"
    [debounce]="250" showCancelButton="never" class="ion-no-padding"></ion-searchbar>
  <!--  End Searchbar -->
  <!-- List Menu -->
  <ion-list>
    <ion-list-header>
      <ion-label>CHOOSE YOUR MENU</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let mn of menus" lines="none">
      <ion-thumbnail slot="start">
        <img src="{{ mn.foto }}" />
      </ion-thumbnail>
      <ion-label>
        <p>{{ mn.kategori }}</p>
        <h2>{{ mn.nm_menu }}</h2>
        <p class="price">Rp {{ mn.harga }} ,-</p>
      </ion-label>
      <ion-icon slot="end" name="{{ heart }}" (click)="setFav()"></ion-icon>
    </ion-item>
  </ion-list>
  <!-- End List Menu -->
</ion-content>