<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- User info -->
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img [src]="user.foto ? user.foto : 'assets/images/no-photo.png'" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{ user.name }}</h2>
      <p>{{ user.email }}</p>
      <small>{{ user.role }}</small>
    </ion-label>
    <ion-chip color="warning" mode="ios" outline="false">
      Edit
      <ion-icon name="settings"></ion-icon>
    </ion-chip>
  </ion-item>
  <!-- End User Info -->
  
  <ion-list>
    <ion-list-header>
      <ion-label>INFO</ion-label>      
    </ion-list-header>
    <ion-item (click)="goTo('member')"> 
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Member Profile</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-label>Member Card</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="cart" slot="start"></ion-icon>
      <ion-label>Transaction</ion-label>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header>
      <ion-label>HELP</ion-label>      
    </ion-list-header>
    <ion-item>
      <ion-icon name="chatbox-ellipses" slot="start"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="help-circle" slot="start"></ion-icon>
      <ion-label>FAQ</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="shield-checkmark" slot="start"></ion-icon>
      <ion-label>Privacy Policy</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-list>

</ion-content>